html
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	title Detailed layout
	link(rel="stylesheet", href="assets/css/main.css")
	include _assets/_components/_common/scripts_include
	script(src='assets/jsmin/dataset-min.js')
	body(onload="initialize('#viz_container'), changeData(12.2)")
		.container
			include _assets/_components/_common/header+nav
			include _assets/_components/_common/side-nav
			include _assets/_components/_detailed/details
			include _assets/_components/_common/footer