section.general-breakdown
	input#positive(type='checkbox' value='')
	label(for='positive').positive
		.top-bar
			.progress-bar
			.icon
				include ../../_icons/circle-arrow-down
			.text yes
			.percent 59.5&#37
		.info
			.genders
			.reasons
	input#unsure(type='checkbox' value='')
	label(for='unsure').unsure
		.top-bar
			.progress-bar
			.icon
				include ../../_icons/circle-arrow-down
			.text maybe
			.percent 8.9&#37
		.info
			.genders
			.reasons
	input#negative(type='checkbox' value='')
	label(for='negative').negative
		.top-bar
			.progress-bar
			.icon
				include ../../_icons/circle-arrow-down
			.text no
			.percent 31.6&#37
		.info
			.genders
			.reasons