#y-axis
	.title Vote:
	#subtitles
.graph-wrap
	.section.sec0
		//- .subsection
		//- 	.gender-col 10
		//- 	.gender-col 12
		//- 	.gender-col 21
		//- 	.gender-col 15
		//- .subsection
		//- 	.gender-col 10
		//- 	.gender-col 12
			//- .gender-col 21
			//- .gender-col 15
	.section.sec1 
	.section.sec2 
#x-axis