section.questionAndDate-container
	.question
		h3 question
		span Do you think police should carry tasers?
	.start-date
		h3 start date
		span 31 july 2017
	.end-date
		h3 end date
		span 09 august 2017