footer
	section.left-side
		h5.footerTitle About this app
		a(href='') Terms of Use
		a(href='') Submission Policy
		a(href='') Privacy
		a(href='') FAQ
	section.right-side
		h5.footerTitle Contact us
		a(href='') support@ptownhallapp.io