script(src="assets/jsmin/d3.min.js")
script(src="assets/jsmin/vizuly/vizuly_core.min.js")
script(src="assets/jsmin/vizuly/vizuly_radialprogress.min.js")
script(src="assets/jsmin/vizuly/radialprogress.min.js")