input#sideNavToggle(type='checkbox' value='')
nav.side-nav
	.nav-head
		.tooltip choose your poll
		label.hamburger(for='sideNavToggle')
			.line
			.line
			.line
	.links
		.sidePollLinkWrap
			a.pollLink(href='detailed.html') Do you think police should carry tasers?
		.sidePollLinkWrap
			a.pollLink(href='') Protective &amp; reflective cycling gear
		.sidePollLinkWrap
			a.pollLink(href='') Ethical problems of self-driving cars
		.sidePollLinkWrap
			a.pollLink(href='') Do you feel underpayed?